// adding bootstrap from custom.scss
@use 'custom';

//Import the components
@use 'components/animations';
@use 'components/buttons';
@use 'components/mixins';
@use 'components/typography';

//Import sections
@use 'sections/faq';
@use 'sections/feature';
@use 'sections/footer';
@use 'sections/intro';
@use 'sections/navbar';
@use 'sections/pricing';
@use 'sections/process';
@use 'sections/testimonial';
 
 
body::-webkit-scrollbar {
    width: 0.9em;
  
    background-color: transparent;
  }

body::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: transparent;
  }
   
body::-webkit-scrollbar-thumb {
    background-color: rgb(182, 182, 182);
    border-radius: 8px;
    outline: none;
}